## Ignore list for SimpleShooter

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs
*.suo
*.VC.db

# Visual Studio 2015/2017 cache/options directory
.vs/

#Ignore build results
x64/
Win32/
ARM/

#Ignore log
log/
.vs/SimpleShooter/v16/Browse.VC.db
.vs/SimpleShooter/v16/.suo
.vs/SimpleShooter/v16/Browse.VC.db
.vs/SimpleShooter/v16/.suo
.vs/SimpleShooter/v16/Browse.VC.db
.vs/SimpleShooter/v16/.suo
.idea/
